@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body {width: 100%;height: 100%;font-family: Arial, Helvetica, sans-serif;font-size: 30px;line-height:1.5;color: #fff;text-shadow:1px 1px 3px rgb(0 0 0 / 72%);}

.hidden{display:none}
.hidden-text{display: block;overflow: hidden;position: absolute;width: 1px;height: 1px;font-size: 1px;line-height: 1px;clip: rect(1px,1px,1px,1px);}

.content{height: 100vh;}
.bg{background-repeat: no-repeat;background-size: cover;background-position: center;}
.btn-comm{width:60px;height:35px;border-radius: 3px;border:1px solid #000;font-weight:400;font-size:13px;text-align:center;background-color:#000;color:#fff;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;cursor: pointer;box-sizing: content-box;}
.btn-comm:hover{border-color: #fff;}
.center{display:-webkit-box;display:-ms-flexbox;display:flex;position: absolute;top: 50%;left: 50%;width:500px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);text-align: center;}

.clock{font-size:120px;text-align: center;font-family:'kanit', sans-serif;letter-spacing: 0.05em;}

.login-wrap .name-inp{width: 250px;height: 35px;padding:0 10px;border-radius: 3px;border:2px solid #fff;background-color: transparent;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;-webkit-box-sizing: border-box;box-sizing: border-box;color:#fff}
.login-wrap .name-inp:focus{border-color:#000}
.login-wrap .name-inp::-webkit-input-placeholder{font-size:14px;color:#fff}
.login-wrap .name-inp::-moz-placeholder{font-size:14px;color:#fff}
.login-wrap .name-inp:-ms-input-placeholder{font-size:14px;color:#fff}
.login-wrap .name-inp::-ms-input-placeholder{font-size:14px;color:#fff}
.login-wrap .name-inp::placeholder{font-size:14px;color:#fff}
.login-wrap .greeting{font-size: 48px;}

.todo-wrap{margin-top:20px;}

.todo-wrap .placeholder{display:block;font-size:34px;}
.todo-wrap .todo-inp{width:450px;border:0 none;background-color:transparent;font-size: 24px;color: #fff;}
.todo-wrap .todo-inp:focus{caret-color:#F0FF42}
.todo-wrap .inp-line{position:relative;}
.todo-wrap .inp-line:after{content:'';position:absolute;left:50%;bottom:0;width:450px;height:2px;margin-left:-225px;background-color: #fff;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.todo-wrap .todo-inp:focus + .inp-line:after{background-color:#F0FF42;}
.todo-wrap .todo-list{width:450px;margin:10px auto 0;}
.todo-wrap .todo-list li{display: -webkit-box;display: -ms-flexbox;display: flex;position:relative;height:45px;line-height:45px;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between}
.todo-wrap .todo-list li:before{content:'';position: absolute;top:50%;left:0;width:7px;height:2px;background-color:#fff;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.todo-wrap .todo-list .todo-text{padding-left:15px;font-size:24px}
.todo-wrap .delete-btn{position:relative;width:30px;}
.todo-wrap .delete-btn:after {content: "\00d7"; font-size:30px;}
.todo-wrap .delete-btn:hover{color: #F0FF42;}

.quote-wrap{position: absolute;right:0;bottom: 30px;left: 0;padding:0 20px;text-align: center;font-family: 'Noto Serif KR', serif;}
.quote-wrap .quote{font-size:16px;}
.quote-wrap .author{display: block;margin-top:5px;font-size: 12px;}

.weather-wrap {position: absolute;top:20px;left: 20px;}
.weather-wrap .weather{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.weather-wrap .weather .weather-ico{width:50px;height:50px;}
.weather-wrap .weather-ico img{display:inline-block;width: 100%;vertical-align: top;}
.weather-wrap .weather .temper{font-family:'kanit', sans-serif;font-size: 18px;}
.weather-wrap .city{font-size: 14px;text-align: center;}
.weather-wrap .error{font-size: 14px;}

.logout-btn{position: absolute;top:20px;;right:20px}

@media screen and (min-width:768px) and (max-width:1440px) {
    .btn-comm{width:4.167vw;height:2.431vw;border-radius:0.208vw;font-size:0.903vw}
    .center{width: 34.722vw;}
    .clock{font-size:8.333vw}

    .login-wrap .name-inp{width:17.361vw;height:2.431vw;padding:0 0.694vw;border-radius:0.208vw;border:0.139vw solid #fff}
    .login-wrap .name-inp::-webkit-input-placeholder{font-size:0.972vw}
    .login-wrap .name-inp::-moz-placeholder{font-size:0.972vw}
    .login-wrap .name-inp:-ms-input-placeholder{font-size:0.972vw}
    .login-wrap .name-inp::-ms-input-placeholder{font-size:0.972vw}
    .login-wrap .name-inp::placeholder{font-size:0.972vw}
    .login-wrap .greeting{font-size:3.333vw}

    .todo-wrap{margin-top:1.389vw}
    .todo-wrap .placeholder{font-size:2.361vw;}
    .todo-wrap .todo-inp{width:31.25vw;font-size:1.667vw}
    .todo-wrap .inp-line:after{width:31.25vw;height:0.139vw;margin-left:-15.625vw}
    .todo-wrap .todo-list{width:31.25vw;margin:0.694vw auto 0;}
    .todo-wrap .todo-list li{height: 3.125vw;line-height: 3.125vw}
    .todo-wrap .todo-list li:before{width:0.486vw;height:0.139vw;background-color:#fff}
    .todo-wrap .todo-list .todo-text{padding-left:1.042vw;font-size:1.667vw;}
    .todo-wrap .delete-btn{width:2.083vw;}
    .todo-wrap .delete-btn:after {font-size:2.083vw;}

    .quote-wrap{bottom:2.083vw;padding:0 1.389vw}
    .quote-wrap .quote{font-size:1.111vw;}
    .quote-wrap .author{margin-top:0.347vw;font-size:0.833vw;}

    .weather-wrap {top:1.389vw;left:1.389vw;}
    .weather-wrap .weather .weather-ico{width:3.472vw;height:3.472vw;}
    .weather-wrap .weather .temper{font-size:1.25vw;}
    .weather-wrap .city{font-size: 0.972vw;}
    .weather-wrap .error{font-size: 0.972vw;}

    .logout-btn{top:1.389vw;;right:1.389vw}
}

@media screen and (max-width:767px) {
    .btn-comm{width:15.625vw;height:9.115vw;border-radius:0.781vw;font-size:3.385vw}
    .center{width: 69.444vw;}
    .clock{font-size:18.229vw}

    .login-wrap .name-inp{width: 65.104vw;height: 9.115vw;padding:0 2.604vw;border-radius:0.781vw;border:0.521vw solid #fff}
    .login-wrap .name-inp::-webkit-input-placeholder{font-size:3.646vw}
    .login-wrap .name-inp::-moz-placeholder{font-size:3.646vw}
    .login-wrap .name-inp:-ms-input-placeholder{font-size:3.646vw}
    .login-wrap .name-inp::-ms-input-placeholder{font-size:3.646vw}
    .login-wrap .name-inp::placeholder{font-size:3.646vw}
    .login-wrap .login-btn{margin-top:2.604vw}
    .login-wrap .greeting{font-size:12.5vw;}

    .todo-wrap{margin-top:5.208vw;}
    .todo-wrap .placeholder{font-size:4.688vw}
    .todo-wrap .todo-inp{width:65.104vw;font-size: 6.25vw;}
    .todo-wrap .inp-line:after{width:65.104vw;height:0.521vw;margin-left:-32.552vw}
    .todo-wrap .todo-list{width:65.104vw;margin:2.604vw auto 0;}
    .todo-wrap .todo-list li{height:10.417vw;line-height:10.417vw;}
    .todo-wrap .todo-list li:before{width:1.823vw;height:0.521vw}
    .todo-wrap .todo-list .todo-text{padding-left:3.906vw;font-size:4.688vw}
    .todo-wrap .delete-btn{width:7.813vw}
    .todo-wrap .delete-btn:after {font-size:7.813vw}

    .quote-wrap{bottom:7.813vw;padding:0 5.208vw}
    .quote-wrap .quote{font-size:4.167vw}
    .quote-wrap .author{margin-top:1.302vw;font-size:3.125vw}

    .weather-wrap {top:5.208vw;left:5.208vw;}
    .weather-wrap .weather .weather-ico{width:13.021vw;height:13.021vw;}
    .weather-wrap .weather .temper{font-size:4.688vw}
    .weather-wrap .city{font-size: 3.646vw}
    .weather-wrap .error{font-size: 3.646vw;}

    .logout-btn{top:5.208vw;;right:5.208vw}
}